/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020617;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FULL SCREEN FIX */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* NÃO usar flex aqui */
body {
  min-width: 320px;
}

/* LINKS */
a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
}